.NavBar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #002f4b;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  margin-left: auto; 
}

.NavBar-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.NavBar-button:hover {
  background-color: white;
  color: #002f4b;
}