.NavBar {
  display: flex;
  background-color: #002f4b; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.NavBar span {
  color: white;
}

.NavBar a {
  color: white;
  background-color: transparent;
  border: none; 
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.NavBar a:hover {
  background-color: white;
  color: #002f4b; 
}
