#sign-up-page .nav-bar {
    position: static !important; 
    background-color: navy; 
    display: flex;
    justify-content: center; 
  }
  
  #sign-up-page #app-content {
    margin-top: 0 !important; 
  }
  