#react-app {
  display: grid;
  grid-template-rows: auto auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;  /* Ensure it stays on top */
}

#app-content {
  height: 100vh;               
  width: 100vw;                
  background-image: url('/images/background.png');  /* Background image for other pages */
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;  
  margin: 0;
  padding: 0;
}

#home-page {
  height: 100vh;  
  width: 100vw;   
  background-image: url('/images/homepage.png');  
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  margin: 0;  
  padding: 0;  
  overflow: hidden; 
  position: relative;
  z-index: 1;  /* Ensure home-page stays on top */
}

.button-container {
  position: absolute;
  bottom: 30px;  
  display: flex;
  gap: 50px;  
  z-index: 2;  /* Ensure buttons are on top */
}

button, .home-button {
  background-color: transparent;  /* Transparent background */
  color: white;                   /* Text color */
  border: 2px solid white;         /* White border */
  border-radius: 8px;              /* Rounded corners */
  padding: 10px 20px;
  font-size: 18px;                 /* Larger text */
  font-weight: bold;               /* Bold text */
  cursor: pointer;
  text-decoration: none;          
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 3;  /* Ensure buttons stay on top */
  pointer-events: auto;  /* Ensure buttons are clickable */
}

button:hover, .home-button:hover {
  background-color: white;         
  color: #004aad;                  
}

button:disabled {
  background-color: grey;
}
